# Utilities
numpy
pandas


# FACE RECOGNITION
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0  # to avoid dlib installation issues


supabase  # give free use for database and storage
bcrypt  # for password hashing

segno # for generating QR codes
pillow  # image processing library

streamlit  # for building the web app (frontend)


librosa  # for audio processing
resemblyzer # used for  speaker verification and voice embeddings