# Utilities
numpy
pandas

# Face Recognition
dlib-bin
face-recognition==1.3.0
scikit-learn
setuptools<70.0.0

# Backend
supabase
bcrypt

# QR + Image
segno
pillow

# Frontend
streamlit

# Voice
librosa
webrtcvad-wheels
resemblyzer
torch